<h1><%= @post.title %></h1>

<p><%= @post.content %></p>


<h2>Categories</h2>
<%= @post.categories.each do |cat| %>
  <%= cat.name %>
<% end  %>

<h2>Comments</h2>
<ul>
  <%= @post.comments.each do |c| %>
    <li><%= c.user.username %> says: <%= c.content %></li>
  <% end  %>
</ul>


<h2>Users who Commented</h2>
<%= @post.comments.each do |c| %>
  <%= link_to c.user.username, user_path(c) %>
<% end %>

<h3>New Comment</h3>

<%= form_for @post.comments.build do |f|%>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :user, @post.users.build do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

